<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="background">
      <div class="wrapper">
        <h1>Message submission from <%= name %></h1>
        <h2><%= subject %></h2>
        <p><%= message %></p>
        Respond to <a href="mailto:<%= email %>"><%= email %></a>
      </div>
    </div>
  </body>
</html>
